<div class='navigation'>
  <ul>
    <li><a href='#/links' class='index'>All Links</a></li>
    <li><a href='#/shorten' class='create'>Shorten</a></li>
  </ul>
  <a href='#/logout' ng-click='logout()' class='logout'>Logout</a>
</div>

<div id='container'>

<!-- Your code here -->
  <h1>Shorten Link</h1>

  <form name="shortenLinkForm" ng-submit='addLink(shortenLinkForm.$valid)' novalidate>
    <input type='url' ng-model='url' >
    <button>Shorten</button>
  </form>
  <p ng-if="shortenLinkForm.$invalid" class="invalid">
    The URL is invalid!
  </p>
  <!-- <p>
     {{ invalid }}
    </p><p>
    {{ link }}
  </p> -->
</div>


